body{
background-color:  #804c80;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;color: aliceblue;
font-size: 20px;

}
header {
    background-color:#38738c ;
}

header a {
    color: aqua;
    text-decoration: none;
}

a {
    color: rgb(255, 0, 0);
}

article a {
    color: rgb(251, 255, 0);
    text-decoration: none;
}

footer {
    background-color: blue;
    color: blanchedalmond;
}
