body{
background-color:  #804c80;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;color: aliceblue;
font-size: 20px;

}
.topo {
    background-color:#4e388c ;
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.topo img {
    width: 105%;
}

.topo a {
    color: aqua;
    text-decoration: none;
    margin-bottom: 30px;

   

}

a {
    color: rgb(255, 0, 0);
}

.materia {
    background-color: rgb(28, 7, 104);
    margin :20px;
    padding: 30px;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.materia h1 {
    margin-bottom: 20px;
    font-size: 20;
    color: #f2ff39;
}
.materia a {
    text-align: center;
    color: #ffffff;
}

.materia img {
    width: 100%;
}
.botao {
    background-color: #3b033bb6;
    color: rgb(251, 255, 0);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin: 10px;

   
}

.rodape {
    background-color: rgb(140, 0, 255);
    color: blanchedalmond;
    padding: 30px;
    margin: 10px;   
    text-align: center;
}
 main {
padding: 30px;

 }
 
.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu li {
padding-right: 20px;
    }

.menu a:hover {
    color: rgb(255, 0, 0);
}

.navegacao {
    display: flex;
    list-style: none;
}
.titulo {
    text-align: center;
    margin-bottom: 10px;
}

.texto {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}